<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Nick name:</b>
  <%= @user.nick_name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Website:</b>
  <%= @user.website %>
</p>

<p>
  <b>Aim:</b>
  <%= @user.aim %>
</p>

<p>
  <b>Yahoo:</b>
  <%= @user.yahoo %>
</p>

<p>
  <b>Gabeer:</b>
  <%= @user.gabeer %>
</p>

<p>
  <b>About you:</b>
  <%= @user.about_you %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
