<%= form_for(@location) do |f| %>
  <% if @location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
      <% @location.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :map_pin%><br />
   
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <%= f.label :select %><br />
  <%= f.select :pin_id , options_for_select(Pin.all.map{|a| a.id})%>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description ,:rows => 5, :cols => 100%>
  </div>
  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
   
  </div>
   <div class="field">
    <%= f.label :your_site_link %><br />
    <%= f.text_field :site_link %>
   
  </div>

  <div class="field">
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
   
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

